<section class="bg-color">

  <div class="containers"> <!--Inicio Container-->

    <div class="title">
      <p>The Best Seller Of Hitheme</p>
      <h1><span>Best</span> Seller</h1>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="discount">-9%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p">
              <img src="../assets/img_1.jpg" alt="desktop">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--Fim Container-->
</section>